numpy>=1.25.2
scipy>=1.15.0
scikit-learn>=1.5.0
pandas>=2.3.0
aeon @ git+https://github.com/aeon-toolkit/aeon.git@06acafea026a395becb6a9c4284e14f0400d4f76
transformers==4.33.3
urllib3==1.26.18
requests==2.31.0
chronos-forecasting<1.5
momentfm==0.1.4
matplotlib==3.7.1
seaborn==0.13.2
statsmodels==0.13.5
torch==2.5.1
tensorflow==2.11.0
tslearn==0.6.4
pycatch22==0.4.5

